/* All CSS Rules Go Here */

$containerGrey: #393a3d;
$containerGreyHover: #606163;
$containerWidth: 156px;

$primaryCOLOR: #3e68ad;
$backgroundCOLOR: #6fa2f7;
$topCOLOR: #f7f9fc;
$hoverCOLOR: #d3e4ff;
$textColor: #ffffff;
$greenTint: #06b6c9;
